<launch>

    <!-- [args and params] declare some args and params  -->
    <arg name="lidar_rpm" default="300"/>
    <arg name="file_name" default="test.bag"/>

    <arg name="imu_topic" default="/imu/data"/>
    <arg name="lidar_topic" default="/velodyne_points"/>
    <arg name="camera_topic" default="/camera/color/image_raw/compressed"/>

    
    <!-- [Node] imu -->
    <include file="$(find xsens_mti_driver)/launch/xsens_mti_node.launch"/>
    
    <!-- [Node] velodyne -->
    <!-- <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
        <arg name="rpm" value="$(arg lidar_rpm)" />
    </include> -->

    <!-- [Node] depth camera -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>

    <!-- [Node] Record data -->
     <node pkg="rosbag" type="record" name="record_velodyne_and_imu"
       args="record -O /home/drone/catkin_ws/cartographer_detailed_comments_ws/bag_file/$(arg file_name) $(arg imu_topic) $(arg camera_topic)"/>       

</launch>