<launch>

    <!-- [args and params] declare some args and params  -->
    <arg name="sensor" default="n"/>
    <arg name="lidar_rpm" default="300"/>
    <arg name="file_name" default="no.bag"/>

    <arg name="align_depth" default="true" />
    <arg name="depth_width" default="848" />
    <arg name="depth_height" default="480" />
    <arg name="depth_fps" default="30" />
    <arg name="color_width" default="848" />
    <arg name="color_height" default="480" />
    <arg name="color_fps" default="30" />

    <arg name="imu_topic" default="/imu/data"/>
    <arg name="lidar_topic" default="/velodyne_points"/>
    <!-- <arg name="camera_topic" default="/camera/color/image_raw/compressed"/> -->

    <!-- <param name="use_sim_time" value="true"/> -->

    <group if="$(eval sensor != 'n')">
        <!-- [Node] velodyne -->
        <group if="$(eval 'l' in sensor)">
            <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
                <arg name="rpm" value="$(arg lidar_rpm)" />
            </include>
        </group>

        <!-- [Node] imu -->
        <group if="$(eval 'i' in sensor)">
            <include file="$(find xsens_mti_driver)/launch/xsens_mti_node.launch"/>
        </group>

        <!-- [Node] camera -->
        <group if="$(eval 'c' in sensor)">
            <!-- [Node] camera -->
            <include file="$(find realsense2_camera)/launch/rs_camera.launch">
                <arg name="align_depth" value="$(arg align_depth)" />
                <arg name="depth_width" value="$(arg depth_width)" />
                <arg name="depth_height" value="$(arg depth_height)" />
                <arg name="depth_fps" value="$(arg depth_fps)" />
                <arg name="color_width" value="$(arg color_width)" />
                <arg name="color_height" value="$(arg color_height)" />
                <arg name="color_fps" value="$(arg color_fps)" />
            </include>
        </group>
    </group>

</launch>